---
---


.my-definition
    font-size: 1.2em


body {
    background: #F1F1F1;
}

pre {
    border-radius: 3px;
    padding: 15px;
}

#navigation {
    background: #556270;
    display: block;
    width: 200px;
    padding: 50px 25px;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
}

.site {
    margin-left: 250px;
    padding: 50px 25px;
}

#avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#avatar:hover {
    box-shadow: 0 0 0 10px #C7F464;
}