---
layout: default
title:  Home
---

<section class="posts">
    {% for post in paginator.posts %}
        {% include post.html post=post %}
    {% endfor %}
</section>

<section class="pagination">
    {% if paginator.previous_page %}
        <a class="pagination-item older" href="{{paginator.previous_page_path}}">Trang trước</a>
    {% else %}
        <span class="pagination-item older">Trang trước</span>
    {% endif %}

    {% if paginator.next_page %}
        <a class="pagination-item newer" href="{{paginator.next_page_path}}">Trang tiếp</a>
    {% else %}
        <span class="pagination-item newer">Trang tiếp</span>
    {% endif %}
</section>
