---
layout: default
title: Blog
---

<section class="container latest-posts">
{% for post in paginator.posts %}
    <article class="post">
        <h1>
            <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        </h1>
        <p class="author">
            <i class="fa fa-calendar"></i>
            <span class="date">{{ post.date | date: "%d/%m/%Y %H:%m" }}</span>
            
            <span>|</span>

            <i class="fa fa-comments"></i>
            <span>0</span>
        </p>
        <p>{{ post.content }}</p>
    </article>
{% endfor %}
</section>

{% if paginator.total_pages > 1 %}
<div class="pagination container text-center">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="button red">
            <i class="fa fa-chevron-left"></i>
            <span>Trang sau</span>
        </a>
    {% else %}
        <span>Trang sau</span>
    {% endif %}

    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="button red">
            <span>Trang tiếp</span>
            <i class="fa fa-chevron-right"></i>
        </a>
    {% else %}
        <span>Trang tiếp</span>
    {% endif %}
</div>
{% endif %}