<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% if page.title == "Home" %}
            {{ site.name }} &middot; {{ site.description }}
        {% else %}
            {{ page.title }} &middot; {{ site.name }}
        {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Meta -->
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="php,css,html,javascript,linux,ubuntu,laravel,framework">
    <meta name="author" content="{{ site.author }}">
    <meta name="robots" content="index,follow,archive"/>
    <meta content="{{ site.name }}" property="og:site_name">
    {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
    {% else %}
    <meta content="{{ site.name }}" property="og:title">
    {% endif %}
    {% if page.title %}
    <meta content="article" property="og:type">
    {% else %}
    <meta content="website" property="og:type">
    {% endif %}
    {% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
    {% else %}
    <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    {% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ site.url }}/about.html" property="article:author">
    {% endif %}
    {% if page.image %}
    <meta content="{{ site.url }}/{{ page.image }}" property="og:image">
    {% else %}
    <meta content="{{ site.url }}/img/avatar-large.jpg" property="og:image">
    {% endif %}
    {% if page.categories %}
        {% for category in page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section">
        {% endfor %}
    {% endif %}
    {% if page.tags %}
        {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag">
        {% endfor %}
    {% endif %}
    <!-- RSS and author -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
    <link rel="author" href="/humans.txt" />

    <!-- Google Fonts & Font-awesome -->
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">
    
    <!-- Modernizr & jQuery -->
    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

</head>
