<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta name="description" content="">

        <!-- Stylesheet -->
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">

        <!-- Modernizr & jQuery -->
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

    </head>
    <body>

        <nav id="navigation">
            
            <img id="avatar" src="https://gravatar.com/avatar/a18507c3f61d2bda47fde08f31ba6c38?s=200" alt="anhsk.ohbo@gmail.com">

            <ul class="posts">
                {% for post in site.posts %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>

        <div class="site">
            <div class="header">
                <h1 class="title">
                    <a href="/">{{ site.name }}</a>
                </h1>
                <a class="extra" href="/">home</a>
            </div>
            {{ content }}
            <div class="footer">
                <div class="contact">
                    <p>
                        Your Name
                        <br />        
                        What You Are
                        <br />        
                        you@example.com
                    </p>
                </div>
                <div class="contact">
                    <p>
                        <a href="https://github.com/yourusername">github.com/yourusername</a>
                        <br />        
                        <a href="https://twitter.com/yourusername">twitter.com/yourusername</a>
                        <br />        
                    </p>
                </div>
            </div>
        </div>

        <!-- App scripts -->
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

    </body>
</html>
