<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }} - anhskohbo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Metadata -->
        <meta name="description" content="">
        
        <!-- Google Fonts & Font-awesome -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=latin,vietnamese' rel='stylesheet'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <!-- Stylesheet -->
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Modernizr & jQuery -->
        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

    </head>
    <body>

        <!-- Header -->
        <header>
            <div class="container">

                <a href="/" title="Anhskohbo">
                    <img id="avatar" src="https://gravatar.com/avatar/a18507c3f61d2bda47fde08f31ba6c38?s=200" alt="anhsk.ohbo@gmail.com">
                </a>

                <hgroup>
                    <h1><a href="/" title="Nguyễn Văn Ánh">Nguyễn Văn Ánh</a></h1>
                    <h2>PHP Developer</h2>
                </hgroup>

                <div class="social-links">
                    <a title="Follow me on Twitter" target="_blank" href="https://twitter.com/anhskohbo">
                        <span class="fa fa-twitter"></span>
                    </a>
                    <a title="Fork me on Github" target="_blank" href="https://github.com/anhskohbo">
                        <span class="fa fa-github"></span>
                    </a>
                    <a title="Add me on Google+" target="_blank" href="https://google.com/+nguyenvananh-anhskohbo">
                        <span class="fa fa-google-plus"></span>
                    </a>
                    <a title="Subscribe to my feed" target="_blank" href="/feed.xml">
                        <span class="fa fa-rss"></span>
                    </a>
                </div>
            </div>
        </header><!-- /#header -->
        
        <!-- Main -->
        <div id="main">

            <div class="container">
                Cập nhật lần cuối: <em>{{ site.time | date: "%d/%m/%Y" }}</em>
            </div>

            <!-- Content -->
            {{ content }}
            
            <!-- Footer -->
            <footer>
                <p>
                    &copy; 2014 <a href="http://github.com/anhskohbo" title="Anhskohbo">anhskohbo</a>.
                    Hosted by <a href="http://github.com" title="Github">Github</a>.
                    Powered by <a href="http://jekyllrb.com">Jekyll</a>.
                </p>
            </footer><!-- /#footer -->
        </div><!-- /#main -->

        <!-- App Scripts -->
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>

        <!-- Google Analytics -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

    </body>
</html>
