---
layout: default
---

{% include post.html post=page %}

<!-- Related -->
<div class="related">
    <h2>Related Posts</h2>
    <ul class="related-posts">
        {% for post in site.related_posts limit:3 %}
        <li>
            <h4>
                <a href="{{ post.url }}" title="{{ post.title }}">
                    <span>{{ post.title }}</span>
                </a>
                <small>{{ post.date| date: "%d/%m/%Y" }}</small>
            </h4>
        </li>
        {% endfor %}
    </ul>
</div>

<!-- Comment -->
<div id="comment">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//anhskohbo.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
</div>
