---
layout: default
---

<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date: "%d/%m/%Y" }}</p>

<div class="post">
{{ content }}
</div>

<!-- Comment -->
<div id="comment">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//anhskohbo.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
</div>